
.container{
    text-align: center;
    h3{
        margin: 0;
        font-size: 80px;
        color: var(--button)
        
    }
    p{
        margin-top: 10px;
        font-size: large;
        font-weight: 600;
        color: white;
    }
}