:root{
    --button: #0079fa;
    --links_color: #003c92;
    --offwhite_1: #f7f8f9;
    --offwhite_2: #ffffff;
}
*{
    // border: 1px solid black;
    // box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}