
.indicator{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite_1);
    h1{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 35px;
    }
}